{% extends 'accueil.html.twig' %}

{% block title %}Gestion des Sorties{% endblock %}

{% block body %}
    
    <div class="panel panel-warning col-md-6" style="overflow:scroll;height:355px;">
                <div class="panel-heading">Liste Des Ventes</div>
                <div class="panel-body">

                    <table class="table table-striped">
                        <tr style="color:lightsalmon;"> 
                            <th>Identifiant</th>
                            <th>Date</th>
                            <th>Vendu</th>
                            <th>Produit</th>
                        </tr>
                        {% for s in sorties %}
                            <tr>
                                <td>{{ s.id }}</td>
                                <td>{{ s.dateS|date('d/m/y') }}</td>
                                <td>{{ s.qteS }}</td>
                                <td>{{ s.produit }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    
                </div>
            </div>

            <div class="panel panel-warning col-md-6">
                <div class="panel-heading">Formulaire de gestion Des Sorties</div>
                <div class="panel-body">
                    {% if error_message is defined %}
                        <div class="alert alert-danger">{{ error_message }}</div>
                    {% endif %}

                    {{ form(form)}}
                    
                </div>
            </div>

{% endblock %}
